@font-face {
    font-family: 'VolvoNovum';
    src: url('../../public/fonts/VolvoNovumTTF/VolvoNovum-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VolvoNovumMedium';
    src: url('../../public/fonts/VolvoNovumTTF/VolvoNovum-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VolvoNovumLight';
    src: url('../../public/fonts/VolvoNovumTTF/VolvoNovum-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VolvoBroadPro';
    src: url('../../public/fonts/VolvoBroadProDigital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
